<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>nodejs</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<form class="form-horizontal" action="/todo" method="post">
					<div class="form-group">
						<div class="col-lg-10">	
							<input type="text" class="form-control" placeholder="Title" name="title">
							<textarea class="form-control" name="body" rows="5" id="textArea" placeholder="body"></textarea>
							<button type="submit" class="btn btn-success">Add</button>
						</div>
					</div>
				</form>
				    <h1>Todo List</h1>
				    <ul class="list-group col-lg-8">
						<% for (var i = 0 ; i < todo.length ; i++){ %>
							<li class="list-group-item">
								<a href="/detail/<%= todo[i]._id %>"><p><%= todo[i].title %></p></a>
							</li>
						<% } %>
					</ul>

						<% for (var i = 0 ; i < todo.length ; i++){ %>
							<ul class="list-group col-lg-4">
							<li class="list-group-item">
								<a href="/todo/<%= todo[i]._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								<a href="/todo/<%= todo[i]._id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							</li>
							</ul>
						<% } %>
				
			</div>
		</div>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>